<html>
  <head>
    <title>DormRate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>

    
    <div class="container">
      <%= yield %>
      <div class="center jumbotron">
        <h1>Welcome to DormRate!</h1>

        <h2>
         Do you want to know which are the best dorms on campus? We have a solution for you! DormRate helps you rate and share 
        </h2>
        <%= link_to "Generate Random Hall!", '/hall', class: "btn btn-lg btn-primary" %>
      </div>

      <%= link_to image_tag("dorm.png", alt: "DormRate logo"), '#'%>
    </div>
  </body>
</html>
