<% provide(:title, 'New Rating') %>
<h1>New Rating!</h1>
<script>
$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    console.log(fileInput);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    console.log("right before fileupload")
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             form.data('url'),
      type:            'POST',
      autoUpload:       true,
      formData:         form.data('form-data'),
      paramName:        'file', // S3 does not like nested name fields i.e. name="post[dormpic]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
          console.log("done");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var url   = '//' + form.data('host') + '/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
        form.append(input);
        console.log("fileURL done"+url+" host:"+form.data('host'));
      },
      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
          console.log("done");
      }
    });
  });
});

</script>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post, multipart: true, html: { class: "directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :hallRoom, 'Hall and Room' %>
      <%= f.text_field :room %>

      <%= f.label :rating , 'Rate the room (out of 5)!' %>
      <%= f.text_field :rating %>

	<%= f.label :description, 'Description : What did you love/hate? How did you use it? Any recommendations about the layout? Etc '  %>
      <%= f.text_field :desc %>

	<%= f.label :dormpic, 'Upload a Picture of your room!' %>
	<%= f.file_field :dormpic %>

      <%= f.submit "Submit Rating", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>