<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container" color = #6495ED>
    <%= link_to "DormRate", root_path, id: "logo", style: 'background-color: #FFFFF0;'%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "Posts", posts_path %></li>
      </ul>
    </nav>
  </div>
</header>